@import "variables";
@import "mixins";

.minimal-time {
    font-size: 2.2em;
}

.minimal-date {
    font-size: 2.0em;
}

.minimal-sections {
    section:not(:last-child) {
        margin-bottom: $padding-layout;
    }
}

.minimal-section-clocks {
    text-align: center;
}

@media screen and (max-width: $screen-size-sm) {
    .minimal-section-speed-dial {
        padding-left: $padding-layout;
        padding-right: $padding-layout;
    }
}

// #SpeedDial
ul.speed-dial-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .speed-dial-list-item {
        @include noselect;

        padding: 4px 4px 4px 8px;
        cursor: pointer;
        display: inline-block;

        margin-right: $padding-layout / 2;
        margin-left: $padding-layout / 2;
        margin-bottom: $padding-layout / 2;

        width: 160px - $padding-layout;
        max-width: 160px - $padding-layout;
        white-space: nowrap;
        text-overflow: ellipsis;

        .speed-dial-list-item-title {
            display: block;
            font-size: 1.3em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            text-align: center;
        }

        .speed-dial-list-item-url {
            display: block;
            font-size: 1.0em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            text-align: center;
        }
    }
}

// #Misc
.minimal-main-separator {
    width: 100%;
    height: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
}


// #FIXME: Maybe these should be part of the theme. I'm still not sure.
//         Might make it difficult to edit a theme if the colors on the options
//         menu are constantly changing.
$options-bg-color: #212529;
$options-section-bg-color: darken($options-bg-color, 5%);
$options-text-color: #f8f9fa;

.minimal-options {
    width: 256px;
    overflow-x: hidden; // #FIXME: Not sure if I want this to be hidden or auto.
    overflow-y: auto;
    z-index: 2;
    box-shadow: inset -4px 0 16px -8px #000;

    background-color: $options-bg-color;
    color: $options-text-color;

    &.minimal-options-show {
        margin-left: 0px;
        visibility: visible;
        animation: slidein .25s ease;
    }

    &.minimal-options-hide {
        margin-left: -256px;
        visibility: hidden;
        animation: slideout .25s ease;
    }

    .minimal-options-section {
        background-color: $options-section-bg-color;
    }
}

@keyframes slidein {
    0% {
        margin-left: -256px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes slideout {
    0% {
        margin-left: 0px;
        visibility: visible;
    }

    100% {
        margin-left: -256px;
        visibility: hidden;
    }
}

.minimal-footer {
    margin: $padding-layout;
}

.minimal-sd-editor {
    padding-top: $padding-layout;
    padding-bottom: $padding-layout;
}


.sd-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: $padding-layout / 2;
    padding-right: $padding-layout / 2;
    padding-top: $padding-layout / 2;
    padding-bottom: $padding-layout / 2;
    color: $options-text-color;
    transition: opacity .3s ease;

    cursor: pointer;
    @include noselect;

    &:hover {
        background-color: lighten($options-bg-color, 3%);
    }

    .sd-item-icon {
        font-size: 1.2em;
        margin-right: 8px;
        .icon, svg { pointer-events: none; }
    }

    .sd-item-handle { cursor: move !important; }
    .sd-item-handle.disabled { opacity: 0.5; cursor: not-allowed !important; }

    .sd-item-body {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        overflow: hidden;
        .sd-item-title { font-weight: bold; overflow: hidden; text-overflow: ellipsis; }
        .sd-item-meta { color: darken($options-text-color, 25%); overflow: hidden; text-overflow: ellipsis; }
    }

    .sd-item-actions {
        display: flex;
        flex-direction: row;
        font-size: 1.2em;
        visibility: hidden;
    }

    &:hover {
        .sd-item-actions {
            visibility: visible;
        }
    }
}