$font-size-html: 10px;
$font-size-default: 1.4rem;
$font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Roboto', sans-serif;

$padding-layout: 16px;

$screen-size-xxl:   1680px;
$screen-size-xl:    1440px;
$screen-size-lg:    1280px;
$screen-size-md:    1024px;
$screen-size-sm:    768px;
$screen-size-xs:    480px;

$border-radius: 2px;