@import "layout";
@import "variables";
@import "minimal";
@import "typography";
@import "forms";
@import "buttons";
@import "minimal-theme-transitions";
@import "../../node_modules/dragula/dist/dragula.min";

* {
    box-sizing: border-box;
}

html {
    font-size: $font-size-html;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: $font-size-default;
    font-family: $font-family-default;
}

#app {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.app-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}